.logo{
    background-color: beige;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2em 2em 0;
    text-indent: 2em;
    list-style: none;
}
nav ul li a{
    color: brown;
    text-decoration: none;
    font-weight: bold;
}
h2{
    margin-left: 1.2em;
}
.features{
    display: flex;
    justify-content: space-between;
    float: left;
    margin: 0 1em 0 1em;
}
.item{
    flex-basis: calc(50.99% - 1em);
    margin: 0 2em 0 2em;
}
.item img{
    width: 95%;
    height: 75%;
    margin: 0 1.5em 0 1em;
    border: 4px double black;
}
h3{
    display: block;
    margin-left: 0.8em;
}
p{
    margin-left: 1em;
    margin-top: 0;
}